# Files
*~
.env


# Dirs
venv/
env/

# Builds
*.o

# elara ignores
templates/elara/dwm/dwm
templates/elara/dmenu/dmenu
templates/elara/dmenu/stest
templates/elara/slstatus/slstatus
templates/elara/st/st
